html(lang="fr")
  head
    title QPW - #{title}
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" type="text/css" href="/style.css")
    script(src="/script.js" async)
    script.
      if (navigator.serviceWorker.register("/sw.js")
          .then(() => console.log('Service worker is registered'))
          .catch(err => console.warn(err))) 
      {
        console.log('All good');
      } else {
        console.log('Nothing to see here...');
      }
  body
    h1 #{name_app}